In [1]:
import pandas as pd

# Supondo que você já tenha um DataFrame chamado df
# com colunas 'Authors' e 'Year'

# Exemplo de DataFrame de entrada
data = {'Authors': ['Autor1', 'Autor1', 'Autor2', 'Autor2', 'Autor3'],
        'Year': [2010, 2015, 2018, 2020, 2019],
        'Título': ['Obra1', 'Obra2', 'Obra3', 'Obra4', 'Obra5']}

df = pd.DataFrame(data)

# Convertendo a coluna 'Year' para o formato datetime
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

# Ordenando o DataFrame por 'Year' em ordem decrescente
df.sort_values(by=['Authors', 'Year'], ascending=[True, False], inplace=True)

# Mantendo apenas as linhas únicas de cada autor (o mais recente)
result = df.drop_duplicates(subset='Authors', keep='first')

# Exibindo o resultado

In [3]:
df

  Authors       Year Título
1  Autor1 2015-01-01  Obra2
0  Autor1 2010-01-01  Obra1
3  Autor2 2020-01-01  Obra4
2  Autor2 2018-01-01  Obra3
4  Autor3 2019-01-01  Obra5

In [2]:
result

  Authors       Year Título
1  Autor1 2015-01-01  Obra2
3  Autor2 2020-01-01  Obra4
4  Autor3 2019-01-01  Obra5